<div class="launch-box span6 offset3 text-center">

	<h1>Add yo photo</h1>
	<br/>

	<%= simple_form_for @post do |f| %>
		<%= f.input :title, label: 'What is this?', placeholder: 'Fireworks, bbq steak...' %>
		<br/>
		<%= f.input :description, label: 'Then we did what?', placeholder: 'We all said, "Cool."' %>
		
		<%= f.input :image %>

		<br/>
		<%= f.submit 'Save', :class =>
			'btn btn-warning' %>


	<% end %>

</div>